@{
    ViewData["Title"] = "Home Page";
      
}
 

 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="jsoneditor"></div>


<br />
<div id="krap" class="spinner-border center mx-auto" style="visibility:hidden;"     role="status">
    <span class="center mx-auto">Loading...</span>
</div>



<div class="card text-center">
    <div class="card-header">
        About this Demo
    </div>
    <div class="card-body">
        <h5 class="card-title">This demo uses Kind Cluster</h5>
        <p class="card-text">Includes Ingress/Metallb/ArgoCD/Istio</p>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>
        <a id="myButton" onclick="myButton()" class="btn btn-primary">Json</a>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>

    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

 
<div id="loader" class="center"></div>
<div class="card text-center">
    <div class="card-header">
        About this Demo11
    </div>
    <div class="card-body">
        <h5 class="card-title">This demo uses Kind Cluster</h5>
        <p class="card-text">Includes Ingress/Metallb/ArgoCD/Istio</p>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>
        <a id="myButton" onclick="myButton1()" class="btn btn-primary">Button1</a>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>

    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>


<br />
<br />
<p><strong>AjaxOnly</strong> Form GET</p>
@using (Html.AjaxBeginForm("AjaxMethod1", new AjaxOptions
     {
         HttpMethod = "get"
          
     }))
{
    <div class="input-group">
        @Html.TextBox("name", null, new { placeholder = "Type your name", @class = "form-control mx-sm-2" })
        <button class="btn btn-primary">Submit</button>
    </div>
}

@section scripts {
    <script>

 
 
            $(document).ready(function () {
 
            });
    </script>
}

@*

function myButton1() {
            var student = [];
            var obj = {
                'first_name': 'krap',
                'last_name': 'fraz',
                'age': '45',
            }
            student.push(obj);
            var obj1 = {
                'first_name': 'bob',
                'last_name': 'boo',
                'age': '30',
            }
            student.push(obj1);

            var plop = JSON.stringify(student);

            $.ajax({
                type: "GET",
                url:  "https://kubeapi/api/values/",
                data: "", //pets, //JSON.stringify(dataobject), //UserData, //{ name: hh, location: "Boston" },  //JSON.stringify(UserData), //JSON.stringify(obj), //{ id : 'test'}, //hh },
                contentType: "application/json;charset=utf-8",
                //contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert(response);


                    const options = {
                        mode: 'view'
                    }
                    jsonDialog(response, options);
                },
                error: function (response) {
                    alert(response.responseText);
                    alert("boo");
                }
            });
        }


    function myButton()
    {
            var student = [];
            var obj = {
                'first_name': 'krap',
                'last_name': 'fraz',
                'age': '45',
            }
            student.push(obj);
            var obj1 = {
                'first_name': 'bob',
                'last_name': 'boo',
                'age': '30',
            }
            student.push(obj1);

            var plop = JSON.stringify(student);

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetInfoPods")',
                data: "", //pets, //JSON.stringify(dataobject), //UserData, //{ name: hh, location: "Boston" },  //JSON.stringify(UserData), //JSON.stringify(obj), //{ id : 'test'}, //hh },
                contentType: "application/json;charset=utf-8",
                //contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert(response);


                    const options = {
                        mode: 'view'
                    }
                    jsonDialog(response, options);
                },
                error: function (response) {
                    alert(response.responseText);
                    alert("boo");
                }
            });
    }

    function jsonDialog(jsonobj, modes, okcallback, cancelcallback, errorcallback, title, datatype, target_title, formdisplay) {
        if (jsonobj === undefined || jsonobj === null) {
            if (errorcallback !== undefined)
                errorcallback("JSON Object is not valid");
            return false;
        }

        var jsoncontent = document.createElement('div');
        // jsoncontent.setAttribute("id", "JsonDialog101");class="popup-overlay"
        jsoncontent.setAttribute("id", "JsonDialog101");
        jsoncontent.setAttribute('class', "ui-widget-content");
        jsoncontent.style.display = "none";
        document.body.appendChild(jsoncontent);



        var jsoneditor = document.createElement('div');
        jsoneditor.setAttribute("id", "JsonEditor");
        jsoneditor.style.width = '510px';
        jsoneditor.style.height = '300px';
        jsoneditor.style.margin = '1px';

        jsoneditor.resizable = false;
        //jsoneditor.
        jsoneditor.isContentEditable = false;
        jsoncontent.appendChild(jsoneditor);

            // if (datatype == 'text')
        if (formdisplay == 'form')
            modes = { mode: 'form', modes: ['form', 'text'] };
        else
            modes = { mode: 'text', modes: ['form', 'text'] };
        // else
        //     modes = { mode: 'tree', modes: ['form', 'text', 'tree', 'view'] };

        var editor = new JSONEditor(jsoneditor, modes);

        editor.set(jsonobj);

        var dlg = $(jsoncontent).dialog({
            title: target_title,
            height: 520,
            width: 562,

            //zindex: 1,
            //overflow: auto,
            modal: true,
            //visibility: inherit,
            resizable: false,
            modal: true,
            // dialogClass: "alert101",
            draggable: true,
            closeOnEscape: false,
            //_allowInteraction: function (event) {
            //    return !!$(event.target).is(".select2-input") || this._super(event);
            //},

            // show: { effect: "blind", duration: 800 },
            position: {
                my: "center",
                at: "center",
                of: window
            },
            buttons: [
                {
                    text: "Raw View",
                    style: "margin-right:60px; color:#3883fa;",
                    click: function () {
                        var result = editor.get();
                        destroy();
                        if (okcallback !== undefined)
                            okcallback(result);
                        globalVisible = false;
                    }
                },
                {
                    text: "Cancel",
                    style: "color:#EE422E;",
                    style: "margin-left:90px; color:#3883fa;",
                    click: function () {
                        destroy();
                        if (cancelcallback !== undefined)
                            cancelcallback();
                        globalVisible = false;
                    }
                }]
        }).append('
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLqBq0ilAid0OE2A0Qx94ujF_M9DugbAGVyg&usqp=CAU" width="200" height="100" />
<br />');
        $(".ui-dialog").css('index', '50000');
        $("ui-dialog-titlebar").css('background', 'color: blue');
        $(".ui-dialog").css('background', 'white');
        $(".ui-dialog").css('background', 'visible');
        $(".ui-dialog-titlebar-close").css('visibility', 'hidden');
        $(".ui-dialog-titlebar").css('visibility', 'visible');
        $(".ui-dialog").css('border-style', '3px red');
        $(".ui-dialog").css('text-align', 'center');
        $(".ui-button").css('width', '150px');
        $(".ui-button").css('margin-top', '75px');
        $(".ui-button").css('margin-bottom', '10px');
        // $(".alert101").dialog("option", "modal", true);

        var destroy = function () {
            editor.destroy();
            jsoneditor.remove();
            $(jsoncontent).dialog('close');
            jsoncontent.remove();
            $('.ui-dialog').remove();
        };
        return true;
    }
    </script>
                        
*@