



@{
    ViewData["Title"] = "GetNode";
}

<h1>GetNode</h1>

<style>
    .centervv {
        border: 1px solid;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding: 10px;
        width: 50%;
    }

    .spinner {
        position: fixed;
        z-index: 1031;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
@*
onclick="showspin()"
onclick="hidespin()"
*@

<button id="showb" type="button" onclick="showspin()" class="btn btn-primary">Show</button>
<button id="hideb" type="button" onclick="hidespin()" class="btn btn-primary">Hide</button>

@*
<div class="centervv">
    <p>This div takes up the width specified in CSS and the remaining
        space is split equally between the two margins.</p>
</div>

<br />
<br />
<br />


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Controller Code for this page <a href="https://github.com/dfrazzitta/KubeWeb/blob/master/KubeWeb/Controllers/KubeController.cs">da code</a>.</p>
    <p>View Code for this page <a href="https://github.com/dfrazzitta/KubeWeb/blob/master/KubeWeb/Views/Kube/GetNodeX.cshtml">da view</a>.</p>
    <button id="hideb" type="button" onclick="Namespaces()" class="btn btn-primary">Get Namespaces</button>
</div>

<br />
<br />

<div style="text-align:right">
    This text will be centered.
    <p>So will this paragraph.</p>
</div>


*@


<div id="jsoneditor"></div>



<div id="spinnerx" class="spinner spinner-grow spinner-grow-md" style="visibility:hidden;">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<br />



<div class="card text-center">
    <div class="card-header">
        About this Demo
    </div>
    <div class="card-body">
        <h5 class="card-title">This demo uses Kind Cluster</h5>
        <p class="card-text">Get Namespaces</p>
        <a class="dropdown-item" asp-area="" asp-controller="kube" asp-action="GetNodesX" class="btn btn-primary">Kind</a>
        <a id="myButton" onclick="Namespaces()" class="btn btn-primary">Namespaces</a>

    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>




<div id="loader" class="center"></div>
<div class="card text-center">
    <div class="card-header">
        About this Demo11
    </div>
    <div class="card-body">
        <h5 class="card-title">This demo uses Kind Cluster</h5>
        <p class="card-text">Includes Ingress/Metallb/ArgoCD/Istio</p>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>
        <a id="myButton" onclick="myButton1()" class="btn btn-primary">Button1</a>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>

    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

@*

*@


@section scripts {
    <script>

        function showspin() {
            $('#spinnerx').css('visibility', 'visible');
        }

        function hidespin() {
            $('#spinnerx').css('visibility', 'hidden');
        }

        var dataNamespace = [];

        function Namespaces() {
            showspin();
            jQuery.ajaxSetup({ async: false });
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetNodeList")',
                data: { jsonInput: JSON.stringify("default") }, //pets, //JSON.stringify(dataobject),
                contentType: "application/json;charset=utf-8",
                //contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert(response);
                    var tt = response.items;
                    var listNames = response.items;
                    //debugger;
                    $.each(listNames, function (key, value) {
                        dataNamespace.push({
                            text: value.metadata.name, value: value.metadata.name
                        });
                       
                        //debugger;
                    });
                    //debugger;

                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            hidespin();
            bootbox.prompt({
                title: 'Choose a Namespace from inputs',
                message: '<p>Please select NameSpace an option below:</p>',
                inputType: 'radio',
                inputOptions: dataNamespace,
                callback: function (result) {
                    //debugger;
                    if (result != null) {
                        $('#NameSpaceMenuXX').text(result);
                        $('#NameSpaceMenuXX').css("color", "black")
                    }
                }
            });
            dataNamespace.length = 0;
            
        }


        function jsonDialog1(jsonobj, modes, titleDialog, okcallback, cancelcallback, errorcallback) {
            if (jsonobj === undefined || jsonobj === null) {
                if (errorcallback !== undefined)
                    errorcallback("JSON Object is not valid");
                return false;
            }

            var jsoncontent = document.createElement('div');
            jsoncontent.id = 'divjson';
            jsoncontent.style.display = "none";

            $('#divjson').css('z-index', '100000');
            document.body.appendChild(jsoncontent);

            var jsoneditor = document.createElement('div');
            jsoneditor.style.width = '598px';
            jsoneditor.style.height = '484px';

            jsoncontent.appendChild(jsoneditor);

            if (modes === undefined || modes === null)
                modes = { mode: 'tree', modes: ['form', 'text', 'tree', 'view'] };

            var editor = new JSONEditor(jsoneditor, modes);
            editor.set(jsonobj);

            var destroy = function () {
                editor.destroy();
                jsoneditor.remove();
                $(jsoncontent).dialog('close');
                jsoncontent.remove();
                $('.ui-dialog').remove();
            };
            //https://api.jqueryui.com/position/
            //https://jqueryui.com/position/
            $(jsoncontent).dialog({
                height: 610, //560,
                width: 600,
                resizable: true,
                modal: true,
                //visibility: inherit,
                // dialogClass: "alert101",
                draggable: true,
                closeOnEscape: false,

                title: "Resource: " + titleDialog,
                position: {
                    my: "center",
                    at: "top",
                    of: window
                },
                buttons: [{
                    text: "OK",
                    style: "margin-right:40px; color:#3883fa;",
                    click: function () {
                        var result = editor.get();
                        destroy();
                        if (okcallback !== undefined)
                            okcallback(result);
                        // hideBusyIndicator();
                    }
                }, {
                    text: "Cancel",
                    style: "color:#EE422E;",
                    click: function () {
                        destroy();
                        if (cancelcallback !== undefined)
                            cancelcallback();
                        // hideBusyIndicator();
                    }
                }]
            }).append('<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLqBq0ilAid0OE2A0Qx94ujF_M9DugbAGVyg&usqp=CAU" width = "100" height = "60"/>  ');
            $(".ui-dialog-titlebar-close").css('visibility', 'hidden');
            $("ui-dialog-titlebar").css('background', 'color: blue');
            $(".ui-dialog").css('border-style', 'none');
            $(".ui-dialog").css('z-index', '505');
            $(".ui-dialog-titlebar").css('visibility', 'hidden');
            $(".ui-dialog-titlebar").css('background', 'color: red');
            $(".ui-dialog").css('modal', 'true');
            $(".ui-dialog").css('text-align', 'center');
            $(".ui-button").css('width', '100px');
            $(".ui-button").css('margin-top', '10px');
            $(".ui-button").css('margin-bottom', '10px');


            return true;
        }

        $(document).ready(function () {


        });
    </script>
}