
@{
    ViewData["Title"] = "Nodes";
}

<h1>Nodes</h1>

@{
    ViewData["Title"] = "Nodes";
}

<h1>Nodes</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/dfrazzitta/KubeWeb/blob/master/KubeWeb/Controllers/HomeController.cs">da code</a>.</p>
</div>

<div id="jsoneditor"></div>


<br />
<div id="krap" class="spinner-border center mx-auto" style="visibility:hidden;" role="status">
    <span class="center mx-auto">Loading...</span>
</div>

<div class="card text-center">
    <div class="card-header">
        About this Demo
    </div>
    <div class="card-body">
        <h5 class="card-title">This demo uses Kind Cluster</h5>
        <p class="card-text">Includes Ingress/Metallb/ArgoCD/Istio</p>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>
        <a id="myButton" onclick="myButton()" class="btn btn-primary">Json</a>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>

    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>


<div id="loader" class="center"></div>
<div class="card text-center">
    <div class="card-header">
        About this Demo11
    </div>
    <div class="card-body">
        <h5 class="card-title">This demo uses Kind Cluster</h5>
        <p class="card-text">Includes Ingress/Metallb/ArgoCD/Istio</p>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>
        <a id="myButton" onclick="myButton1()" class="btn btn-primary">Button1</a>
        <a href="https://kind.sigs.k8s.io/" class="btn btn-primary">Kind</a>

    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>




@section scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}