html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#jsoneditor {
    width: 500px;
}

.color-namespace_notset {
    color: yellow;
}

.color-namespace_set {
    color: black
}


html, body, .containerx {
    height: 100%;
}

.containerx {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    position: relative;
}

.b {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
} 